/* Elements Principaux */

body {
  font-family: "Raleway", sans-serif;
  margin: 4px;
}

a {
  text-decoration: none;
  color: initial;
}

span {
  font-weight: bolder;
}

/* Navbar */

.Navigation {
  height: 40px;
  padding: 5px;
}

.main-nav {
  display: grid;
  grid-template-columns: 1fr 5fr 0.6fr 0.6fr 0.6fr;
  grid-template-rows: 1fr;
  padding: 5px;
  grid-template-areas: "logo . hébergement actit inscription";
  column-gap: 15px;
}

.Logo img {
  grid-area: logo;
}

.NavAct {
  grid-area: actit;
  color: #0065fc;
}

.NavHeb {
  grid-area: hébergement;
  border-top: solid 3px transparent;
  padding-top: 25px;
  font-size: 16px;
}

nav a:hover {
  color: #0065fc;
}

.NavAct:hover {
  padding-top: 25px;
  border-top: 3px solid #0065fc;
}

.NavHeb:hover {
  border-top: 3px solid #0065fc;
}

.NavAct {
  grid-area: actit;
  justify-self: center;
  border-top: transparent solid 3px;
  font-size: 16px;
}

.NavAct:hover a:visited {
  color: #0065fc;
  border-top: 3px solid #0065fc;
}

.NavAct {
  grid-area: actit;
  padding-top: 25px;
  border-top: 3px solid #0065fc00;
  font-size: 16px;
}

.Insc {
  grid-area: inscription;
  padding-top: 25px;
  border-top: 3px solid #0065fc00;
  font-size: 16px;
  color: #0065fc;
  font-weight: bolder;
}

.Insc a:visited {
  color: #0065fc;
}

/* Recherche */

.Research-Title {
  padding: 10px;
}

.Research-Title h2 {
  font-size: 20px;
}

.Research-Title p {
  font-size: 16px;
}

.Research-bar {
  padding: 10px;
  display: flex;
}

.Img-Research {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: auto;
  background-color: #f2f2f2;
  border-radius: 14px 0 0 14px;
}

.Research-bar input {
  border: 1px solid #f2f2f2;
  background-color: #ffffff;
  height: 40px;
  font-size: 20px;
  padding-left: 20px;
}

.Research-bar button {
  border: none;
  border-radius: 0 14px 14px 0;
  background-color: #0065fc;
  color: white;
  font-weight: 700;
  height: 40px;
  font-size: 14px;
  padding: 5px;
  cursor: pointer;
}

#icon-glass {
  display: none;
}

/* Filtres */

.Filter {
  display: flex;
  font-size: 15px;
  max-width: 95%;
}

.Filter h3 {
  margin-top: 48px;
  font-size: 25px;
  font-weight: bolder;
  padding-left: 15px;
}

.Filter li {
  display: inline-flex;
  align-items: center;
  margin-left: 10px;
  font-weight: bold;
  border: solid 1px #f2f2f2;
  height: 50px;
  padding: 0px 10px 0px 0px;
  margin-top: 20px;
  border-radius: 200px;
}

.Filter li .icon-filter {
  color: #0065fc;
  background-color: #deebff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  width: 50px;
  height: 50px;
  border-radius: 200px;
}

.Filter li:hover {
  background-color: #deebff;
  transform: scale(1.1);
}

/* Info Recherche */

.Info-research {
  display: flex;
  align-items: center;
  margin: 10px;
}

.Info-research p {
  padding-left: 15px;
}

.fas.fa-info {
  border: 2px #f2f2f2 solid;
  color: #0065fc;
  width: 18px;
  height: 20px;
  padding: 8px 4px 5px 15px;
  border-radius: 200px;
}

/* Section */

Section {
  display: grid;
  grid-template-columns: 62% 35%;
  margin: 4px;
  gap: 2em;
  padding-left: 10px;
}

Section h1 {
  display: none;
}

.fas.fa-star.Empty {
  color: grey;
}

/* Hebergement */

.Hebergement {
  display: grid;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding-bottom: 10px;
  grid-template-areas:
    "Title Title Title"
    "Bloc Bloc Bloc"
    "Bloc Bloc Bloc"
    "Aff Aff Aff";
}

.Showmore {
  grid-area: Aff;
  margin-left: 20px;
  margin-top: 20px;
  padding-bottom: 15px;
  font-weight: bolder;
}

.Title-Hebergement {
  grid-area: Title;
  padding: 18px;
  margin-bottom: -25px;
  font-weight: bolder;
}

.Blocs-Hebergements {
  background: white;
  border-radius: 20px;
  border: 4px solid white;
  margin-right: 14px;
  margin-left: 10px;
  margin-top: 14px;
  margin-bottom: 14px;
}

.Hebergement img {
  width: 100%;
  height: 120px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.Hebergement .name {
  margin-top: 0px;
  padding-left: 6px;
}

.Hebergement .price-desc {
  text-align: left;
  margin-top: -12px;
  padding-left: 6px;
}

.Hebergement .stars {
  margin-top: -12px;
  padding-left: 4px;
  color: #0065fc;
}

.Blocs-Hebergements:hover {
  transform: scale(1.02);
}

/* Popular */

.MostPopular {
  background-color: #f2f2f2;
  background-position: center;
  height: 580px;
  border-radius: 20px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.MostPopular h2 {
  padding: 5px 15px 15px 15px;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.BlocPop {
  display: grid;
  grid-auto-columns: 20% 78%;
  grid-auto-rows: 90px 40px;
  margin: 10px;
  margin-top: 30px;
  background: white;
  border-radius: 20px;
  column-gap: 9px;
  border: white 4px;
  grid-template-areas:
    "Img Name"
    "Img Stars";
}

.StarsP {
  grid-area: Stars;
  color: #0065fc;
  margin-top: 13px;
}

.BlocPop img {
  width: 100%;
  height: 90%;
  object-fit: cover;
  margin: 5px;
  border-radius: 15px 0 0 15px;
  grid-area: Img;
}

.BlocPop:hover {
  transform: scale(1.02);
}

/* Activites */

.Activites {
  display: grid;
  margin: 20px 40px 50px 20px;
  border-radius: 20px;
  column-gap: 30px;
  row-gap: 15px;
  font-size: 13px;
  grid-template-areas:
    "Title Title Title Title"
    "BlocL1 BlocM1 BlocL2 BlocM3"
    "BlocL1 BlocM2 BlocL2 BlocM4";
}

.ActTitle {
  grid-area: Title;
  margin-top: 40px;
  font-size: 24px;
  font-weight: bolder;
}

.Activites img {
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  grid-area: Img;
}

.Activites-bloc1 {
  grid-area: BlocL1;
  box-shadow: 4px 4px 4px 4px #f2f2f2;
  border-radius: 20px;
  height: 430px;
  overflow: hidden;
}

.Activites-bloc1 h3 {
  margin: 8px 8px 8px 20px;
}

.Activites-bloc1 img {
  height: 390px;
}

.Activites-bloc1:hover {
  transform: scale(1.02);
}

.Activites-bloc2 {
  grid-area: BlocM1;
  height: 200px;
  box-shadow: 4px 4px 4px 4px #f2f2f2;
  border-radius: 20px;
  overflow: hidden;
}

.Activites-bloc2 h3 {
  margin: 5px 5px 5px 20px;
}

.Activites-bloc2 img {
  height: 160px;
}

.Activites-bloc2:hover {
  transform: scale(1.02);
}

.Activites-bloc3 {
  grid-area: BlocM2;
  box-shadow: 4px 4px 4px 4px #f2f2f2;
  border-radius: 20px;
  height: 200px;
  overflow: hidden;
}

.Activites-bloc3 h3 {
  margin: 5px 5px 5px 20px;
}

.Activites-bloc3 img {
  height: 160px;
}

.Activites-bloc3:hover {
  transform: scale(1.02);
}

.Activites-bloc4 {
  grid-area: BlocL2;
  box-shadow: 4px 4px 4px #f2f2f2;
  height: 430px;
  border-radius: 20px;
  overflow: hidden;
}

.Activites-bloc4 h3 {
  margin: 8px 8px 8px 20px;
}

.Activites-bloc4 img {
  height: 380px;
}

.Activites-bloc4:hover {
  transform: scale(1.02);
}

.Activites-bloc5 {
  grid-area: BlocM3;
  box-shadow: 4px 4px 4px #f2f2f2;
  border-radius: 20px;
  height: 200px;
  overflow: hidden;
}

.Activites-bloc5 h3 {
  margin: 5px 5px 5px 20px;
}

.Activites-bloc5 img {
  height: 160px;
}

.Activites-bloc5:hover {
  transform: scale(1.02);
}

.Activites-bloc6 {
  grid-area: BlocM4;
  box-shadow: 4px 4px 4px #f2f2f2;
  border-radius: 20px;
  height: 200px;
  overflow: hidden;
}

.Activites-bloc6 h3 {
  margin: 5px 5px 5px 20px;
}

.Activites-bloc6 img {
  height: 160px;
}

.Activites-bloc6:hover {
  transform: scale(1.02);
}

/* Footer */

.footer {
  display: grid;
  grid-auto-columns: 32% 32% 32%;
  grid-template-areas: "bloc1 bloc2 bloc3";
  padding-left: 40px;
  background-color: #f2f2f2;
  column-gap: 10px;
}

.footer-Bloc1 {
  display: flex;
  flex-direction: column;
}

.footer-Bloc2 {
  display: flex;
  flex-direction: column;
}

.footer-Bloc3 {
  display: flex;
  flex-direction: column;
}

.footer a {
  margin-top: 8px;
  font-size: 14px;
}

.footer a:hover {
  text-decoration: underline;
}

.footer-Title {
  font-weight: bolder;
}

/* Media Quieries */

@media screen and (max-width: 1024px) {
  /*Grande tailles*/
  /* Elements Principaux Media Queries*/

  .Activites {
    font-size: 0.8em;
  }    
  
    Section {
      display: flex;
      flex-direction: column-reverse;
    }  

  @media screen and (min-width: 601px) and (max-width: 1024px) {
    /*Tablettes/Vue paysage*/
     
     Section {
      margin-right: 15px;
    }

    .BlocPop {
      width: 80%;
      margin-left: 40px;
    }
 
    /*Activites*/


    .Activites {
      display: grid;
      width: 90%;
      row-gap: 30px;
      column-gap: 30px;
      padding-left: 10px;
      grid-template-columns: 48% 48%;
      grid-template-rows: 100px 240px 220px 230px 240px;
      grid-template-areas:
        "Title Title"
        "Bloc1 Bloc1"
        "Bloc2 Bloc3"
        "Bloc4 Bloc4"
        "Bloc5 Bloc6";
    }

    .ActTitle {
      grid-area: Title;
      font-size: 24px;
    }

    .Activites-bloc1 {
      grid-area: Bloc1;
      width: 97%;
      height: 240px;
    }

    .Activites-bloc1 img {
      height: 200px;
    }

    .Activites-bloc2 {
      grid-area: Bloc2;
      width: 97%;
      height: 190px;
    }

    .Activites-bloc2 img {
      height: 150px;
    }

    .Activites-bloc3 {
      grid-area: Bloc3;
      width: 97%;
      height: 190px;
    }

    .Activites-bloc3 img {
      height: 150px;
    }

    .Activites-bloc4 {
      grid-area: Bloc4;
      margin-left: 10px;
      width: 97%;
      height: 240px;
    }

    .Activites-bloc4 img {
      height: 200px;
    }

    .Activites-bloc5 {
      grid-area: Bloc5;
      width: 97%;
      height: 190px;
    }
    .Activites-bloc6 {
      grid-area: Bloc6;
      width: 97%;
      height: 190px;
    }
  }
}

@media screen and (max-width: 600px) {
  /*Téléphones*/

  /*Navigation*/

  .main-nav {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "logo inscription"
      "hébergement  actit";
    column-gap: 2px;
  }

  .NavAct {
    grid-area: actit;
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: 4px rgba(128, 128, 128, 0.164) solid;
    border-top: none;
    margin-top: -5px;
  }

  .NavAct:hover {
    border-top: none;
    border-bottom: 4px #0065fc solid;
  }
  
  .NavHeb:hover {
    border-top: none;
    border-bottom: 4px #0065fc solid;
  }

  .NavHeb {
    grid-area: hébergement;
    border-bottom: 4px rgba(128, 128, 128, 0.164) solid;
    border-top: none;
    margin-top: -5px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .Logo {
    grid-area: logo;
    margin-left: 20px;
  }

  .Insc {
    grid-area: inscription;
    padding: 10px 0px 0px 60px;
  }

  /*Filter*/

  .Filter {
    flex-direction: column;
  }

  .Filter li {
    margin-top: 10px;
  }

  .Filter h3 {
    margin: 15px 0px 5px 0px;
  }

  /*Recherche*/

  .Research-Title h2 {
    margin-top: 70px;
  }

  .Research-bar {
    margin-left: 1%;
  }

  .Research-bar input {
    width: 70%;
  }

  .Research-bar button {
    display: none;
  }

  #icon-glass {
    display: table;
    width: 10%;
  }

  /*Hebergement*/

  .Hebergement {
    display: flex;
    flex-direction: column;
    background: none;
    margin-top: -40px;
  }

  .Blocs-Hebergements {
    border: 1px #f2f2f2 solid;
    margin-left: 15px;
    width: 90%;
    padding-bottom: 5px;
    box-shadow: 4px 4px 4px 4px #f2f2f2;
  }

  .MostPopular {
    padding: 5px;
    border-radius: 0px;
  }

  .BlocPop {
    font-size: 16px;
    padding-right: 6px;
    grid-template-columns: 30% 68%;
  }

  .MostPopular h2 {
    font-size: 24px;
  }

  .fas.fa-chart-line {
    padding-left: 10%;
  }

  .Activites {
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    margin-left: 20px;
    margin-top: -15px;
    width: 90%;
  }

  .Activites-bloc1 img {
    height: 160px;
  }

  .Activites-bloc1 {
    height: 200px;
    margin-bottom: 10px;
  }

  .Activites-bloc2 {
    margin-bottom: 10px;
  }

  .Activites-bloc3 {
    margin-bottom: 10px;
  }

  .Activites-bloc4 img {
    height: 160px;
  }

  .Activites-bloc4 {
    height: 200px;
    margin-bottom: 10px;
    font-size: 0.8em;
  }

  .Activites-bloc5 {
    margin-bottom: 10px;
  }

  .footer {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
}

@media screen and (max-width: 300px) {
  .BlocPop {
    display: grid;
    grid-template-columns: 100px 140px;
    grid-template-rows: 90px 40px;
    margin: 5px;
    column-gap: 8px;
    row-gap: 4px;
  }

  .BlocPop h3 {
    width: 110px;
    max-width: 110px;
    font-size: 14px;
  }

  .BlocPop p {
    max-width: 160px;
    padding-bottom: 40px;
    font-size: 14px;
  }

  .Activites-bloc5 {
    font-size: 10px;
  }

  .Blocs-Hebergements {
    margin-left: 20px;
  }
}
