/* Elements Principaux */

body {
    font-family: 'Raleway', sans-serif;
    margin: 8px;
    max-width: 1440px;
}

a {
      text-decoration: none;

      color: initial ;
}

.main
{
width: 96%;
}

/* Navbar */

.Navigation
{
    height: 40px;
    display: grid;
    padding: 5px
}



.main-nav
{
display: grid;
grid-template-columns: 1fr 5fr 0.6fr 0.6fr 0.6fr;
grid-template-rows: 1fr;
padding: 5px ;
grid-template-areas: "logo .. hébergement activités inscription";
column-gap: 15px;
}


.Logo img
{
    grid-area: logo;
}


.NavAct
{
    grid-area: activités;
    color: #0065FC;

}


.NavHéb
{
    grid-area: hébergement;
    border-top: solid 3px #0065FC ;
    color: #0065FC;
    padding-top: 25px;
    font-size: 16px;
    
}

.NavHéb a:visited
{
    color: #0065FC;
}


.NavAct:hover
{
    color: #0065FC;
    padding-top: 25px;
    border-top:  3px solid #0065FC;
}

.NavAct
{
    grid-area: activités;
    padding-top: 25px;
    justify-self: center;
    border-top: transparent solid 3px;
    font-size: 16px;



}
.NavAct:hover a:visited
{
    color: #0065FC;
    border-top:  3px solid #0065FC;

}

.NavAct
{
    grid-area: activités;
    padding-top: 25px;
    border-top: 3px solid #0065fc00 ;
    font-size: 16px;


}

.Insc
{
    grid-area: inscription;
    padding-top: 25px;
    border-top: 3px solid #0065fc00 ;
    font-size: 16px;
    color: #0065FC;
    font-weight: bolder;
}

.Insc a:visited
{
    color: #0065FC;
}

/* Recherche */

.Research-Title
{
    padding: 10px;
}

.Research-Title h2
{
    font-size: 20px;
}

.Research-Title p
{
    font-size: 16px;
}

.Research-bar
{
    display: flex;
    position: relative;
    min-width: 100;
}

.Img-Research
{

display: flex;
justify-content: center;
align-items: center;
width: 55px;
height: auto;
background-color: #F2F2F2;
border-radius: 14px 0 0 14px;
}

.Research-bar input
{
border: 1px solid #F2F2F2 ;
background-color: #ffffff;
height: 40px;
font-size: 20px;
}
.Research-bar button
{
    border: none;
    border-radius: 0 14px 14px 0;
    background-color: #0065fc;
    color: white;
    font-weight: 700;
    height: 40px;
    font-size: 14px;
    padding: 5px;
    cursor: pointer;
}

#icon-glass
{display: none;}

.Research-Field
{
padding-left: 20px;
}


/* Filtres */



.Filter
{
    display: flex ;
    align-items: center ;
    font-size: 15px;
    max-width: 80%;
}

.Filter h3
{
    margin-top: 48px;
    font-size: 20px;
    font-weight: bolder;
    padding-left: 15px;
}

.Filter li {
    display: inline-flex;
    align-items: center;
    margin-left: 10px ;
    font-weight: bold;
    border: solid 1px #f2f2f2;
    padding: 0px 20px 0px 0px;
    margin-top: 25px;
    border-radius: 200px;
}

.fas.fa-money-bill-wave.icon-filter
{
    color: #0065fc ;
    background-color: #DEEBFF;
    padding: 8px 10px 5px 10px;
    width: 20px;
    margin-right: 10px;
    height: 20px;
    border-radius: 200px;
}

.fas.fa-heart.icon-filter
{

    color: #0065fc ;
    background-color: #DEEBFF;
    padding: 8px 10px 5px 10px;
    width: 20px;
    margin-right: 10px;
    height: 20px;
    border-radius: 200px;
 
}

.fas.fa-dog.icon-filter
{

    color: #0065fc ;
    background-color: #DEEBFF;
    padding: 8px 10px 5px 10px;
    width: 20px;
    margin-right: 10px;
    height: 20px;
    border-radius: 200px;

}

.fas.fa-child.icon-filter
{

    color: #0065fc ;
    background-color: #DEEBFF;
    padding: 8px 8px 5px 14px;
    width: 18px;
    margin-right: 10px;
    height: 20px;
    border-radius: 200px;
 
 }


 .Filter li:hover
 {
   background-color: #DEEBFF;
   transform: scale(1.1);
 }

.Info-research
{
    display: flex;
    align-items: center;
    margin: 10px ;


}

.Info-research p
{
    display: flex;
    padding-left: 15px;
}

.fas.fa-info
{
    border: 2px #F2F2F2 solid ;
    color: #0065fc ;
    width: 18px;
    height: 20px;
    padding: 8px 4px 5px 15px;
    border-radius: 200px;
}

/* Section */

.Section
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 4px;
    gap: 2em;
    
}


/* Hébergement */



.Hébergement
{
    display: grid;
    background-color: #f2f2f2;
    border-radius: 40px;
    grid-template-columns: 280px 280px 280px;
    grid-template-rows: 60px 210px 210px 10px;
    column-gap: 0px;
    row-gap: 0px;
    grid-template-areas:     
    "Title Title Title"
    "Bloc Bloc Bloc"
    "Bloc Bloc Bloc"
    "Aff Aff Aff";
}

.Showmore
{
grid-area: Aff;
margin-left: 70px;
font-weight: bolder;
}

.Title-Hébergement
{
    grid-area: Title;
    padding: 18px;
    font-weight: bolder;
}

.Blocs-Hébergements
{
    background: white;
    border-radius: 20px;
    border: 5px solid white;
    max-width: 100% ;
    margin: 14px;
    

}

.Hébergement img
{
    width: 100%;
    height: 100px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.Hébergement .name
{
text-align: left;
margin-top: -4px;
padding: 0;
}

.Hébergement .price-desc
{

    text-align: left;
    margin-top: -12px;
    padding: 0;
    
}

.Hébergement .stars
{
    text-align: left;
    margin-top: -12px;
    padding-left: 4px; 
    color: #0065fc; 
}

.Blocs-Hébergements:hover
{
    transform: scale(1.01);
}



/* Popular */


.MostPopular
{
    display: grid;
    background-color: #f2f2f2;
    border-radius: 40px;
    grid-template-columns: 1fr;
    grid-template-rows: 48px 1fr 1fr 1fr;
    row-gap: 5px;
    height: 100%;
    width: 100%;
}

.MostPopular h2
{
    padding: 0 10px 10px 10px;
    display: flex;
    justify-content: space-between;

}

.BlocPop
{
    display: grid;
    grid-template-columns: 150px 290px 30px;
    grid-template-rows: 100px 30px;
    margin: 10px;
    background: white;
    border-radius: 20px;
    border: 50px solid white;
    column-gap: 4px;
    border: white 4px;

    grid-template-areas: 
    "Img Name"
    "Img Stars";
}

.BlocpopTitle p
{
grid-area: Name;
margin-top: -18px;
}

.BlocpopTitle h3
{
grid-area: Name;
margin-top: 0.5px;

}

.StarsP
{
grid-area: Stars;
color: #0065fc;
}

.BlocPop img
{
    width: 95%;
    height: 90%;
    object-fit: cover;
    margin: 5px;
    border-radius: 15px 0 0 15px;
    grid-area: Img;
}

.fas.fa-chart-line
{
padding-left: 200px;
}

.BlocPop:hover
{
    transform: scale(1.01);
}

.fas.fa-star.Empty
{
    color: grey ;
}